{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<h4>Lignes : </h4>
<ul class="collection">
    {% for r in routes %}
    <li class="collection-item avatar">
        <div class="circle" style="background-color: {{ r.color }}">{{ r.short_name }}</div>
        <span class="title"><a href="/ligne/{{ r.short_name }}">{{ r.long_name }}</a></span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
