{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
$('#id_sens').material_select();
{% endblock %}



{% block content %}
<div class="row">
        <form action="/ligne/{{ short_name }}/" method="post" class="col s12 form" id="search-form">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6 offset-s3">
                {{ form.sens }}
            </div>
        </div>
        <div class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </form>
</div>

<div class="row">
    {% if stop_routes %}
    <div class="collection">
        {% for s in stop_routes %}
        <a class="collection-item" href="/horaires/view/{{ s.id }}/"><i class="small mdi-maps-directions-bus left"></i>{{ s.stop.name }} ({{ s.stop.city }})</a>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
