body {
  /*   background-color: #fcfcfc; */
}

.subtitle {
    color: rgba(0, 0, 0, 0.71);
}

.circle {
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    width: 42px;
    font-weight: bold;
    font-size: 20px;
    color: #fcfcfc;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.sens {
    font-weight: bold;
}