{% extends "base.html" %}

{% block content %}


<h4 class="center">Voyage du car</h4>

<table class="striped">
    <thead>
        <tr>
            <th data-field="stop">Arrêt</th>
            <th>Ville</th>
            <th data-field="hour">Heure</th>
        </tr>
    </thead>

    <tbody>
        {% for s in stop_times %}
        <tr>
            <td>{{ s.stop.name }}</td>
            <td>{{ s.stop.city }}</td>
            <td>{{ s.arrival_time|time:'H:i'}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
