{% extends "base.html" %}

{% load staticfiles %}

{% block nav_color %}{{ stop_route.route.color }}{% endblock %}
{% block footer_color %}{{ stop_route.route.color }}{% endblock %}

{% block scripts %}
$('.datepicker').pickadate({
    format: 'dd/mm/yyyy',
    onSet: function(context) {
        this.close();
    }
});
{% endblock %}

{% block content %}

<div class="row">
    <form action="{% url 'horaires.view' sr_id %}" method="POST" class="col s12 form">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                {{ form.date }}
                <label for="id_date">Date</label>
            </div>
        </div>
        <div class="row center">
            <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                <i class="mdi-content-send right"></i>
            </button>
        </div>
    </form>
</div>
<div class="row">
    <ul class="collection with-header">
        <li class="collection-header">
            <h4 class="flow-text"><div class="center"><b>Horaires à l'arret {{ stop_route.stop.name }} ({{ stop_route.stop.city }})  </b></div>
                <div class="center">
                    Ligne
                    <span class="circle" style="display: inline-block;background-color: {{ stop_route.route.color }}">{{ stop_route.route.short_name }}</span> 
                    : {{ stop_route.route.long_name }}
                    <i class="tiny mdi-navigation-arrow-forward sens"></i>
                    {{ stop_route.terminus }}
                    le {{ date|date:"d/m/Y" }}
                </div>
            </h4>
        </li>
        {% for s in stop_times %}
        <a href="{% url 'horaires.trip' s.trip.trip_id %}" class="collection-item">{{ s.arrival_time|time:'H:i'}}</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
