{% extends "base.html" %}

{% load staticfiles %}

{% block scripts %}
$('.suggestions').hide();
var search_input = $('#id_stop');
search_input.on('input', function() {
    var stop_val = search_input.val();
    if(stop_val.length > 1) {
        $('.suggestions').empty();
        $('.suggestions').show();
        url = '/isnlila/search/suggest/stop/'+stop_val+'/';
        $.getJSON(url, function(data){
            var results = data.results;
            $.each(results, function(e) {
                var long_name_spl = results[e].long_name.split('|');
                var long_name = long_name_spl[0];
                long_name += long_name_spl[1] != '' ? ' ('+long_name_spl[1]+')' : '';
                $('<a>')
                    .addClass('collection-item')
                    .attr('href', '#!')
                    .append('<i class="small mdi-maps-directions-bus left"></i>')
                    .append(long_name)
                    .appendTo('.suggestions')
                    .click(function(ev) {
                        $('#id_long_name').val(long_name_spl[0]+' '+long_name_spl[1]);
                        $('#search-form').submit();
                    });
            });
        })
    } else {
        $('.suggestions').hide();
    }
});
{% endblock %}



{% block content %}
<div class="row">
    <h1 class="center">Bienvenue sur Lila</h1>
</div>
<div class="row">
    <div class="col s12 z-depth-1">
        <h4>Recherche par arrêt : </h4>
        <form action="{% url 'search.stop' %}" method="post" class="col s12 form" id="search-form">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12">
                    {{ form.stop }}
                    <label for="id_stop">Arrêt</label>
                </div>
                {{ form.long_name }}
            </div>

            <div class="suggestions collection"></div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                    <i class="mdi-content-send right"></i>
                </button>
            </div>
        </form>
    </div>
</div>

{% if stop_routes %}
<ul class="collection">
    {% for sr in stop_routes %}
    <li class="collection-item avatar">
        <div class="circle" style="background-color: {{ sr.route.color }}">{{ sr.route.short_name }}</div>
        <span class="title">
            <a href="{% url 'horaires.view' sr.id %}">{{ sr.route.long_name}}</a>
        </span>
        <p class="subtitle">      
        <i class="tiny mdi-navigation-arrow-forward sens"></i>
        {{ sr.terminus }}
        </p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
