{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset = "utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.css" %}"  media="screen,projection"/>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block styles %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <nav role="navigation" style="background-color: {% block nav_color %}{% endblock %};">
        <div class="nav-wrapper container">
            <a href="{% url 'search.stop' %}" class="brand-logo center">Lila</a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'search.stop' %}">Recherche par arrêt</a></li>
                <li><a href="{% url 'ligne.all' %}">Lignes</a></li>
                <li><a href="{% url 'carte.index' %}">Carte</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="{% url 'search.stop' %}">Recherche par arrêt</a></li>
                <li><a href="{% url 'ligne.all' %}">Lignes</a></li>
                <li><a href="{% url 'carte.index' %}">Carte</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <div class="container">
    {% block content %}
    {% endblock %}
    </div>

    {% block footer %}
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="icon-block">
                <h2 class="center light-blue-text"><i class="mdi-action-settings"></i></h2>
                <h5 class="center">Astuce !</h5>
                <p class="light center">Vous pouvez aussi rechercher par <a href="{% url 'ligne.all' %}">ligne</a> ou en cliquant sur un arrêt sur la <a href="{% url 'carte.index' %}">carte</a> !</p>
            </div>
        </div>
    </div>
    <div class="row center">
        <img src="{% static "img/bus.png" %}" />
    </div>
    <footer class="page-footer" style="background-color: {% block footer_color %}{% endblock %}">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Projet ISN</h5>
                    <p class="grey-text text-lighten-4">Ce site peut contenir des erreurs à cause des données fournies par LILA</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Liens</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://data.nantes.fr/donnees/detail/horaires-et-points-darrets-du-reseau-de-transport-lila-lignes-regulieres/">Données LILA</a></li>
                        <li><a class="grey-text text-lighten-3" href="https://www.djangoproject.com/">Django</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2015 Corentin Chataignon et Bédin Denis
            </div>
        </div>
    </footer>
    {% endblock %}


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="{% static "js/materialize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/script.js" %}"></script>
    <script>
    $(document).ready(function() {
    {% block scripts %}{% endblock %}
    });
    </script>
</body>
</html>
