{% extends "base.html" %}

{% load staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="{% static "css/MarkerCluster.css" %}" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            width: 100%;
            height: 100%;
        }
        #map {
            position: relative;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="map"></div>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="{% static "js/leaflet.markercluster.js" %}"></script>
    <script src="{% static "js/Leaflet.MakiMarkers.js" %}"></script>
{% endblock %}

{% block scripts %}
$('#map').css('height', ($(window).height() - $('nav').height()))

$(window).on('resize', function() {
    $('#map').css('height', ($(window).height() - $('nav').height()))
});

var map = L.map('map', { zoomControl: false }).setView([47.2172500 , -1.5533600], 11);
mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';
L.tileLayer(
    'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
        maxZoom: 18,
    }).addTo(map);
new L.Control.Zoom({ position: 'topright' }).addTo(map);
var markers = new L.MarkerClusterGroup();
$.getJSON('/isnlila/carte/get_coords', function(data) {
    var results = data;
    $.each(results, function(k, e) {
        console.log(results);
        var icon = L.MakiMarkers.icon({icon: "bus", color: e.color, size: "l"});
        var marker = new L.marker([e.lat, e.lon], {icon: icon});
        var url = "/isnlila/horaires/view/"+k+"/";
        var marker_text = "<b><a href='"+url+"'>"+e.name+"</a></b>"
        marker.bindPopup(marker_text);
        markers.addLayer(marker);
    });
});
map.addLayer(markers);

{% endblock %}

{% block footer %}{% endblock %}
